@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
  --red:#f53b57;
}

*{
  margin:0; padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;  text-transform: capitalize;
  text-decoration: none;
  outline:none; border:none;
  resize: none;
  transition: all .2s ease-out;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  padding: 1.8rem 8%;
}

section {
  min-height: 100vh;
  padding: 0 7%;
  padding-top: 11rem;
  padding-bottom: 9rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background-color: var(--red);
  color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.455);
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #333;
}

.background {
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

.up-and-down::before, 
.up-and-down::after {
  content:'';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 10rem;
  width: 100%;
  background-size: cover;
}

.up-and-down::before {
  background-image: url('/images/img-top.png');
  background-repeat: no-repeat;
  top: -6rem;
}

.up-and-down::after {
  background-image: url('/images/img-down.png');
  background-repeat: no-repeat;
  bottom: -6rem;
}

.heading {
  text-align: center;
  color: var(--red);
  padding: 1rem;
  font-size: 3.5rem;
}

#menu-bars {
  font-size: 3rem;
  color: #333;
  padding: .8rem 1rem;
  border: .1rem solid #333;
  border-radius: .5rem;
  cursor: pointer;
  display: none;
}

.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background-image: url('/images/header-bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 6rem;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 2.5rem;
  color: #333;
}

.header .logo i {
  padding-right: .5rem;
  color: var(--red);
}

.header .navbar a {
  padding: .8rem 1rem;
  margin-left: 2rem;
  color: #333;
  font-size: 2rem;
  border-radius: .5rem;
}

.header .navbar a:hover {
  color: var(--red);
}

.home {
  display: flex;
  align-items: calc();
}

.home .content h1{
  font-size: 5rem;
  color: var(--red);
}

.home .content h3{
  font-size: 3rem;
  padding: 2rem 0;
  color: #333;
}

.home .content p {
  font-size: 1.5rem;
  line-height: 2.8rem;
  color:#454545;
}

.home .image img{
  width: 36vw;
  position: relative;
  top: -9rem;
}

.features {
  position: relative;
  display: flex;
}

.features .stick {
  padding: 0 2rem;
}

.features .box-container .title{
  font-size: 3rem;
  color: var(--red);
  padding: 2rem;
}

.features .box-container .box{
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 0;
}

.features .box-container .box img {
  height: 6rem;
  width: 6rem;
  margin: 2.5rem;
}

.features .box-container .box .info h3{
  font-size: 2.5rem;
  color: #333;
}

.features .box-container .box .info p{
  font-size: 1.5rem;
  color: #333;
}

.features .box-container:first-child .box {
  flex-flow: row-reverse;
}


.features .box-container:first-child{
  text-align: right;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .image img {
  width: 45vw;
}


.about .content h3 {
  font-size: 4rem;
  color: var(--red);
}

.about .content p {
  font-size: 1.5rem;
  color: #333;
  line-height: 2.4rem;
  padding: 1rem 0;
}

.services {
  position: relative;
}


.services .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services .box-container .box {
  overflow: hidden;
  height: 23rem;
  flex: 1 1 30rem;
  margin: 1rem;
  border-radius: .9rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.255);
  position: relative;
  cursor: pointer;
}

.services .box-container .box img {
  height: 100%; width: 100%;
  object-fit: cover;
}

.services .box-container .box .info {
  height: 100%; width: 100%;
  background-color: rgba(0,0,0,.7);
  text-align: center;
  position: absolute;
  padding: 2rem;
  top: -100%; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .box-container .box:hover .info, 
.services .box-container .box:hover .info h3{
  opacity: 1;
  top: 0;
  transform: translateY(0rem);
  transition-delay: .2s;

} 

.services .box-container .box .info h3 {
  font-size: 3rem;
  color: #fff;
  transform: translateY(5rem);
  opacity: 0;
}

.teacher .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.teacher .box-container .box {
  flex:  1 1 27rem;
  padding: 2rem 3rem;
  margin: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.255);
  border: .1em solid rgba(0,0,0,.2);
  text-align: center;
  background-image: url('/images/card-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.teacher .box-container .box img {
  width: 12rem; height: 12rem;
  padding: 1rem;
  object-fit: cover;
  border-radius: 50%;
}

.teacher .box-container .box h3 {
  font-size: 2.5rem;
  color: #333;
}

.teacher .box-container .box span {
  font-size: 1.7rem;
  color: var(--red);
}

.teacher .box-container .box .share {
 padding-top: 1rem;
}

.teacher .box-container .box .share a{
  margin-left: .8rem;
  color: var(--red);
  font-size: 2rem;
  width: 4.5rem; height: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  border: .1rem solid rgba(0,0,0,.2);
  margin-bottom: 2rem;
}

.teacher .box-container .box p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #333;
}

.pricing {
  position: relative;
}

.pricing .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pricing .box-container .box {
  flex: 1 1 35rem;
  margin: 1rem;
  padding: 4rem 2rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.255);
  border: .1rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
  text-align: center;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  overflow: hidden;
}

.pricing .box-container .box h3 {
  font-size: 4rem;
  color: #333;
}

.pricing .box-container .box .price {
  font-size:5.5rem;
  color: var(--red);
  font-weight: bolder;
}

.pricing .box-container .box .price span {
  font-size: 3rem;
  color: #111;
}

.pricing .box-container .box p {
  font-size: 1.5rem;
  color: #333;
  font-weight: 400;
  padding: 1rem 0;
}

.pricing .box-container .box .choice {
  color: royalblue;
  font-size: 1.8rem;
  font-weight: bolder;
  position: absolute;
  top: 0; right: -5rem;
  padding: .6rem 5.5rem;
  transform: rotate(45deg);
  background-color: #1111;
}

.contact {
  display: flex;
  align-items: center;
}

.contact .image img {
  width: 25vw;
}

.contact .row {
  display: flex;
  align-items: flex-end;
}

.contact .row .contact-info {
  padding: 2rem;
}

.contact .row .contact-form {
  padding: 2rem;
}

.contact .row  .btn {
  cursor: pointer;
}

.contact .row .contact-info .box {
  padding: 1rem 0;
}

.contact .row .contact-info .box .title {
  padding: 1rem 0;
  font-size: 3rem;
  color: #333;
}

.contact .row .contact-info .box p {
  font-size: 1.5rem;
  padding: .5rem 0;
  color: #454545;
}

.contact .row .contact-info .box p i {
  padding-right: .5rem;
  color: var(--red);
}

.contact .row .contact-info .box a {
  margin-left: .8rem;
  color: var(--red);
  font-size: 2rem;
  width: 4.5rem; height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  border-radius: 50%;
  border: .1rem solid rgba(0,0,0,.2);
  margin-bottom: .2rem;
}

.contact .row .contact-info .box form input[type="email"] {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  text-rendering: none;
  color: #111;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.255);
  border: .1rem solid rgba(0,0,0,.2);
}

.contact .row .contact-form .box {
  width: 100%;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  text-transform: none;
  color: #111;
  margin: 1rem 0;
  font-size: 1.5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.255);
  border: .1rem solid rgba(0,0,0,.2);
}

.contact .row .contact-form h3 {
  font-size: 3rem;
  color: #333;
  padding-bottom: 1rem;
}

.contact .row .contact-form .message {
  border-radius: .2rem;
  height: 15rem;
}

footer {
  padding: 2rem 7%;
  background-image: url(/images/card-bg2.png);
  background-position: center;
  background-size: cover;
  min-width: 100%;

  display: flex;
  justify-content: center;
}

footer h6 {
  font-size: 2rem;
  color: #5c5c5c;
}


@media screen and (max-width:991px) {
  html {
    font-size: 55%;
  }
  
  header {
    padding: 1.8rem 3%;
    padding-bottom: 6rem;
  }
  section {
    padding: 0 3%;
    padding-top: 15rem;
    padding-bottom: 9rem;
  }
}


@media screen and (max-width:768px) {
  #menu-bars {
    display: initial;
  }
  .header .navbar {
    position: absolute;
    top: 70%; left: 0; right: 0;
    height: calc(100vh - 70%);
    border-top: .2rem solid #333;
    background: url('/images/card-bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0 );
  }
  .header .navbar a {
    display: block;
    font-size: 2.5rem;
    margin: 2rem 0;
    text-align: center;
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all .4s ease;
  }
  .home .image img {
    display: none;
  }
  .home .content {
    text-align: center;
  }
  .home .content h1 {
    font-size: 3.5rem;
  }
  .home .content h3 {
    font-size: 2rem;
  }
  .features {
    flex-flow: column;
  }
  .features .stick {
    display: none;
  }
  .features .box-container .box:hover {
    margin: 1rem 0;
    box-shadow: 0rem .5rem .4rem rgba(0, 0, 0, 0.455);
  }
  .about {
    flex-flow: wrap;
  }
  .about .image img{
    width: 35vw;
  }
  .contact .image img {
    display: none;
  }
  .contact .row {
    flex-direction: column;
    align-items: flex-start;
  }
}


@media screen and (max-width:450px) {
  html {
    font-size: 50%;
  }
  .features .box-container, 
  .features .box-container:first-child {
    text-align: center;
  }
  .features .box-container .box, 
  .features .box-container:first-child .box{
    flex-flow: column;
  }
}